<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuriikonovalov.recipeapp">

    <application android:theme="@style/Theme.RecipeApp">
        <activity
            android:name=".HiltTestActivity"
            android:exported="false" />
    </application>

</manifest>